<ng-container *ngFor="let project of getProjs()">
    <div id="{{'proj' + project.index + '-wrap'}}" class="proj-wrap">
        <div id="close-project-wrap" (click) = 'closeCurrentProj()'>
            <img src="assets/close.png">
        </div>
    
        <picture>
            <img id="{{'proj' + project.index + '-accent'}}" class="proj-accent" src="">
        </picture>
    
        <div class="dynamic-proj-info-wrap">
            <div class="proj-left">
                <img src="{{project.img}}"/>
            </div>
    
            <div class="proj-right">
                <div class="proj-right-content">
                    <h2>
                        {{project.title}}
                    </h2>
                    <p id="proj-description">
                        {{project.description}}
                    </p>
                    <ul class="tech-stack-wrap">
                        <ng-container *ngFor = "let tech of project.stack">
                            <li>
                                <p>
                                    {{tech}}
                                </p>
                            </li>
                        </ng-container>
                    </ul>
                    <ng-container *ngIf="project.links">
                        <ul class="links-wrap">
                            <!-- <li></li> -->
                            <li *ngFor="let link of project.links">
                                <a href="{{link.link}}">
                                    <img src="{{'assets/contact-imgs/' + link.name + '.png'}}">
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>
