#close-project-wrap{
    position: absolute;
    top: 15px;
    right: 25px;
}

#close-project-wrap:hover{
    cursor: pointer;
}

#close-project-wrap img{
    width: 25px;
    height: 25px;
}

.proj-wrap picture{
    position: absolute;
}

.proj-outter-wrap{
    width: 100%;
    height: 100%;
}

.proj-wrap{
    z-index: 2;

    display: none;
    
    position: absolute;
    left:0;
    bottom:100%;

    width: 100%;
    height: 100%;

    background: #e3ecf5;

    transition: bottom .5s ease-out;
    /* opacity: .5; */
}

.dynamic-proj-info-wrap{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.proj-left{
    width: 50%;
    height: 100%;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proj-right{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-right-content{
    padding: 20px;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;

    max-width: 550px;
}

.proj-right-content h2{
    font-family: Inter var,sans-serif;
    font-size: 4.1em;
    font-weight: 800;
    line-height: 1.1;
    color: #747fe0;
    margin:0px 0px 5px 0px;
}

#proj-description{
    font-size: 18px;
    line-height: 1.35;
    font-weight: 100;
    font-family: Open Sans;
    color: #525f7f;

    background-color: #f6f9fc;
    padding: 25px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.1);
}

 .proj-left img{
    width: 85%;

    transform: rotateZ(-15deg);

    min-width: 250px;
    min-height: 250px;
    max-width: 1080px; /* TODO: maybe remove */
} 

.tech-stack-wrap{
    list-style-type: none;

    display: flex;
    flex-direction: row;

    padding: 0px;
    margin: 5px 0px;
}

.tech-stack-wrap li{
    font-size: 16px;
    line-height: 1.35;
    font-weight: 100;
    /* font-family: Open Sans; */
    color: #636979;

    /* border-radius: 10px; */
    margin: 0 10px 0px 0px;
    /* border: 1px solid black; */
}

.tech-stack-wrap li p{
    font-family: 'JetBrains Mono', monospace;

    padding: 0px 5px;
    margin: 0px;
}


.links-wrap{
    margin: 5px 0px 0px 0px;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.links-wrap li{
    margin: 0 20px 0px 0px;
    padding: 0px;
}

.links-wrap li img{
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 900px){
    .dynamic-proj-info-wrap{
        flex-direction: column;
    }

    .proj-left, .proj-right{
        height: 50%;

        align-items: center;
        justify-content: center;
    }

    .proj-right{
        height: 60%;
        width: 100%;

        justify-content: normal;
    }

    .proj-left{
        justify-content: center;

        height: 40%;
        width: 100%;
    }

    .proj-left img{
        width: 40%;
        /* height: 100%; */
        transform: rotateZ(0deg);
    }

    .proj-right-content{
        padding: 20px;
    }

    .proj-right-content h2{
        font-size: 3.5em;
    }

    #proj-description{
        font-size: 16px;
    }

    .tech-stack-wrap{
        font-size: 16px;
    }
}

@media only screen and (max-width: 350px){
    .links-wrap li img{
        width:25px;
        height: 25px;
    }

    .tech-stack-wrap li{
        font-size: 14px;
    }

    .proj-right-content h2{
        font-size: 3em;

    }

    #proj-description{
        font-size: 14px;
    }

}