:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#extras-content-wrap{
    height:100%;

    display: flex;
    flex-direction: column;

    /* flex: 1 1 auto; */
    /* align-items: center; */
    /* justify-content: center; */
}

.extra-section{
    width: 100%;
    min-height: 90vh;

    /* flex: 1 1 auto; */
    /* height: 100%; */
}

#endeavours-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#endeavours-index-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#endeavours-index-wrap{
    width: 400px;
}

#endeavours-index-wrap p{
    font-family: JetBrains Mono,monospace;
    color: #636979;  
    font-weight: normal;
    font-size: 23px;
    padding: 5px;
}

#index-divider{
    content: '';
    border-top: 1.5px solid #636979;
    margin-top: 0px;
    width: 50%;
}

#endeavours-list-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left-nav-button, #right-nav-button, .endeavours-preview-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left-nav-button, #right-nav-button{
    width: 10%;
}

#left-nav-button img:hover, #right-nav-button img:hover{
    cursor: pointer;
    filter: none;
}

.endeavours-preview-wrap{
    width: 80%;
}

.endeavours-img-prev-wrap{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.endeavours-img-prev-wrap img{
    width: 400px;
    height: 400px;
}

.endeavours-desc-prev-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endeavours-desc-prev-wrap h2{
    font-size: 28px;
    font-family: Inter var,sans-serif;;
    color: #747fe0;    
    font-weight: 800;

    margin: 0;
}

.endeavours-desc-prev-wrap, .more-info-butt{
    color: #636979;  
    transition: color .25s ease-in-out;
}

.endeavours-desc-prev-wrap p, .more-info-butt p{
    font-family: JetBrains Mono,monospace;
    font-weight: normal;
    font-size: 14px;

    text-align: center;
}

.more-info-butt p{
    margin: 0;

    /* transition: color .25s ease-in-out; */
}

#left-nav-button img, #right-nav-button img{
    width: 55px;
    height: 55px;

    filter: invert(45%) sepia(80%) saturate(11%) hue-rotate(147deg) brightness(95%) contrast(100%);
    transition: filter .25s ease-in-out;
}

.more-info-butt-wrap, .more-info-butt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-butt{
    background-color: #D0E2FF;
    border-radius: 20px;
    padding: 15px;
    /* color: #7d7f81; */
    /* margin: 15px 0px; */
    /* font-size: 12px; */
    /* font-family: JetBrains Mono,monospace; */
    border: none;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.1);
    transition: background-color .25s ease-in-out;
}

.more-info-butt:hover{
    cursor: pointer;
    background-color: #747fe0 !important;
    color: #D0E2FF !important;
}

#extras-content-nav-wrap{
    position: fixed;
    left: -75px;
    top: 50%;

    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
}

.nav-ele{
    margin: 0px 15px;
    padding: 5px;

    font-family: JetBrains Mono,monospace;
    font-weight: normal;
    font-size: 17px;

    transition: color .25s ease-in-out;
}

.nav-ele:hover{
    cursor: pointer;
}

.nav-ele.inactive p:hover{
    color:black !important;
}

.nav-ele.inactive p{
    color: lightgrey !important;
    text-decoration: underline 1px solid lightgrey;
}

.nav-ele.active p{
    color: black !important;
    text-decoration: underline 1px solid black;
}

#art-wrap{
    margin: 0px;
    padding: 0px;

    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.art-item{
    margin: 20px;
}

.art-item:hover{
    cursor: pointer;
}

.art-detail-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-detail-wrap img{
    background: grey;
    border-radius: 10px;
    width: 192px;
    height: 222px;

    border-radius: 10px;
}

.bottom-lip-wrap{
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    width: 80%;

    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.15);

}

.bottom-lip-wrap h2{
    color: #747fe0;
    font-family: Inter var,sans-serif !important;
    margin: 0;
    font-size: 16px;
}

.bottom-lip-wrap p{
    font-family: JetBrains Mono,monospace;
    color: #636979;
    margin: 0;
    font-size: 12px;
}

@media screen and (max-width: 1050px){
    #extras-content-nav-wrap{
        left: -125px;
    }
}

@media screen and (max-width: 800px){
    .endeavours-img-prev-wrap img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 750px){
    .endeavours-preview-wrap > * {
        margin: 10px 0px;
    }

    .extra-section{
        box-sizing: border-box;
        padding: 50px 0px;
    }

    .extra-section{
        min-height: auto;
    }

    .endeavours-img-prev-wrap{
        flex-wrap: wrap;
        justify-content:center;
    }
    
    #left-nav-button, #right-nav-button{
        order: 2;
        width: auto;

        margin: 0px 5px;
    }
    
    .endeavours-img-prev-wrap img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 450px){
    .extra-section {
        /* min-height: 100vh; */
    }
}
/* .more-info-butt p{
    
} */