<app-nav-bar context = "extras"></app-nav-bar>
<div id="extras-content-wrap">
    <section class="extra-section" id="endeavours">
        <div id="endeavours-index-wrap">
            <p>1</p>
            <div id="index-divider">
                
            </div>
            <p>3</p>
        </div>
        <div id="endeavours-list-wrap">
            <div id="left-nav-button">
                <img src="../../assets/nav-left.png">
            </div>
            <div id="end-1" class ="endeavours-preview-wrap">
                <div class ="endeavours-img-prev-wrap">
                    <img src="../../assets/proj5.gif">
                </div>
                <div class ="endeavours-desc-prev-wrap">
                    <h2>Placeholder Title</h2>
                    <p class ="endeavour-desc">
                        This is where we would put a quick snapshot, covering the project. We will allow users to click the 'read more' button if they want more details.
                    </p>
                </div>
                <div class ="more-info-butt-wrap" id="more-info-1">
                    <div class ="more-info-butt">
                        <p>Read more</p>
                    </div>
                </div>
            </div>
            <div id="right-nav-button">
                <img src="../../assets/nav-right.png">
            </div>
        </div>

    </section>
    <section class="extra-section" id="art">
        <app-art-list></app-art-list>
        <div id="art-list-wrap">
            <ul id="art-wrap">
                <ng-container *ngFor="let art of getArt()">
                    <li class="art-item" id="{{'art' + art.index}}" (click)="displayArt(art.index)">
                        <div class="art-detail-wrap">
                            <img src="{{art.img}}" class="art-img">
                            <div class="bottom-lip-wrap">
                                <h2>{{art.title}}</h2>
                                <p>{{art.medium}}</p>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </section>
    <section class="extra-section" id="hobbies">
        <div id="endeavours-index-wrap">
            <p>1</p>
            <div id="index-divider">
                
            </div>
            <p>3</p>
        </div>
        <div id="endeavours-list-wrap">
            <div id="left-nav-button">
                <img src="../../assets/nav-left.png">
            </div>
            <div id="end-1" class ="endeavours-preview-wrap">
                <div class ="endeavours-img-prev-wrap">
                    <img src="../../assets/proj5.gif">
                </div>
                <div class ="endeavours-desc-prev-wrap">
                    <h2>Placeholder Title</h2>
                    <p class ="endeavour-desc">
                        This is where we would put a quick snapshot, covering the project. We will allow users to click the 'read more' button if they want more details.
                    </p>
                </div>
                <div class ="more-info-butt-wrap" id="more-info-1">
                    <div class ="more-info-butt">
                        <p>Read more</p>
                    </div>
                </div>
            </div>
            <div id="right-nav-button">
                <img src="../../assets/nav-right.png">
            </div>
        </div>

    </section>
    <!-- <section class="extra-section" id="art">

    </section>
    <section class="extra-section" id="hobbies">

    </section> -->
</div>

<div id="extras-content-nav-wrap">
    <div class="nav-ele" id="hobbies" (click)="scrollTo(2)" [ngClass] = "{'active': activeTabIdx == 2, 'inactive': activeTabIdx != 2}">
        <p>Hobbies</p>
    </div>
    <div class="nav-ele" id="art" (click)="scrollTo(1)" [ngClass] = "{'active': activeTabIdx == 1, 'inactive': activeTabIdx != 1}">
        <p>Art</p>
    </div>
    <div class="nav-ele" id="endeavours" (click)="scrollTo(0)" [ngClass] = "{'active': activeTabIdx == 0, 'inactive': activeTabIdx != 0}">
        <p>Endeavours</p>
    </div>
</div>