<app-nav-bar context = "extras"></app-nav-bar>
<div id="extras-content-wrap">

    <section class="extra-section" id="endeavours">
        <app-endeavours-list></app-endeavours-list>
    </section>

    <section class="extra-section" id="art">
        <app-art-list></app-art-list>
        <div id="art-list-wrap">
            <ul id="art-wrap">
                <ng-container *ngFor="let art of getArt()">
                    <li class="art-item" id="{{'art' + art.index}}" (click)="displayArt(art.index)">
                        <div class="art-detail-wrap">
                            <img src="{{art.img}}" class="art-img">
                            <div class="bottom-lip-wrap">
                                <h2>{{art.title}}</h2>
                                <p>{{art.medium}}</p>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </section>

    <section class="extra-section" id="hobbies">
        <div id="hobbies-left-wrap">
            <div id="hobbies-left-inner">
                <h2>
                    Whats currently got my attention?
                </h2>
                <p>
                    I’d like to take the time, if you’re interested, to share with you some hobbies I’m trying to take up. Maybe it’s something you can teach me about!                </p>
            </div>
        </div>

        <!-- abstract this out to a component probably -->
        <div id="hobbies-right-wrap">
            <div id="hobbies-right-inner">
                <div class="hobby-item" (click) = "handleHobby($event)">
                    <img src="assets/proj5.gif">
                    <div id="hobby1" class="hobby-details">
                        <h3>Rollerblading</h3>
                        <p>I took up rollerblading in the beginning of the pandemic, and it's been a hobby since!</p>
                    </div>
                </div>
                <div class="hobby-item">
                    <img src="assets/proj4.gif" (click) = "handleHobby($event)">
                    <div id="hobby2" class="hobby-details">
                        <h3>Rollerblading</h3>
                        <p>I took up rollerblading in the beginning of the pandemic, and it's been a hobby since!</p>
                    </div>
                </div>
                <div class="hobby-item">
                    <img src="assets/proj3.gif" (click) = "handleHobby($event)">
                    <div id="hobby3" class="hobby-details">
                        <h3>Rollerblading</h3>
                        <p>I took up rollerblading in the beginning of the pandemic, and it's been a hobby since!</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</div>

<div id="extras-content-nav-wrap">
    <div class="nav-ele" id="hobbies-nav" (click)="scrollTo(2)" [ngClass] = "{'active': activeTabIdx == 2, 'inactive': activeTabIdx != 2}">
        <p>Hobbies</p>
    </div>
    <div class="nav-ele" id="art-nav" (click)="scrollTo(1)" [ngClass] = "{'active': activeTabIdx == 1, 'inactive': activeTabIdx != 1}">
        <p>Art</p>
    </div>
    <div class="nav-ele" id="endeavours-nav" (click)="scrollTo(0)" [ngClass] = "{'active': activeTabIdx == 0, 'inactive': activeTabIdx != 0}">
        <p>Endeavours</p>
    </div>
</div>