<app-nav-bar context = "extras"></app-nav-bar>
<div id="extras-content-wrap">

    <section class="extra-section" id="endeavours">
        <app-endeavours-list></app-endeavours-list>
    </section>

    <section class="extra-section" id="art">
        <app-art-list></app-art-list>
        <div id="art-list-wrap">
            <ul id="art-wrap">
                <ng-container *ngFor="let art of getArt()">
                    <li class="art-item" id="{{'art' + art.index}}" (click)="displayArt(art.index)">
                        <div class="art-detail-wrap">
                            <img src="{{art.img}}" class="art-img">
                            <div class="bottom-lip-wrap">
                                <h2>{{art.title}}</h2>
                                <p>{{art.medium}}</p>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </section>

    <section class="extra-section" id="hobbies">

    </section> 
</div>

<div id="extras-content-nav-wrap">
    <div class="nav-ele" id="hobbies-nav" (click)="scrollTo(2)" [ngClass] = "{'active': activeTabIdx == 2, 'inactive': activeTabIdx != 2}">
        <p>Hobbies</p>
    </div>
    <div class="nav-ele" id="art-nav" (click)="scrollTo(1)" [ngClass] = "{'active': activeTabIdx == 1, 'inactive': activeTabIdx != 1}">
        <p>Art</p>
    </div>
    <div class="nav-ele" id="endeavours-nav" (click)="scrollTo(0)" [ngClass] = "{'active': activeTabIdx == 0, 'inactive': activeTabIdx != 0}">
        <p>Endeavours</p>
    </div>
</div>