:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#extras-content-wrap{
    height:100%;

    display: flex;
    flex-direction: column;

    /* flex: 1 1 auto; */
    /* align-items: center; */
    /* justify-content: center; */
}

.extra-section{
    width: 100%;
    min-height: 90vh;

    /* flex: 1 1 auto; */
    /* height: 100%; */
}

#endeavours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#extras-content-nav-wrap{
    position: fixed;
    left: -75px;
    top: 50%;

    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
}

.nav-ele{
    margin: 0px 15px;
    padding: 5px;

    font-family: JetBrains Mono,monospace;
    font-weight: normal;
    font-size: 17px;

    transition: color .25s ease-in-out;
}

.nav-ele:hover{
    cursor: pointer;
}

.nav-ele.inactive p:hover{
    color:black !important;
}

.nav-ele.inactive p{
    color: lightgrey !important;
    text-decoration: underline 1px solid lightgrey;
}

.nav-ele.active p{
    color: black !important;
    text-decoration: underline 1px solid black;
}

#art-wrap{
    margin: 0px;
    padding: 0px;

    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.art-item{
    margin: 20px;
}

.art-item:hover{
    cursor: pointer;
}

.art-detail-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-detail-wrap img{
    background: grey;
    border-radius: 10px;
    width: 192px;
    height: 222px;

    border-radius: 10px;
}

.bottom-lip-wrap{
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    width: 80%;

    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.15);

}

.bottom-lip-wrap h2{
    color: #747fe0;
    font-family: Inter var,sans-serif !important;
    margin: 0;
    font-size: 16px;
}

.bottom-lip-wrap p{
    font-family: JetBrains Mono,monospace;
    color: #636979;
    margin: 0;
    font-size: 12px;
}

@media screen and (max-width: 1050px){
    #extras-content-nav-wrap{
        left: -125px;
    }
}

@media screen and (max-width: 750px){
    .extra-section{
        box-sizing: border-box;
        padding: 50px 0px;
        min-height: auto;
    }
}

@media screen and (max-width: 450px){
    .extra-section {
        /* min-height: 100vh; */
    }
}




/* ---------------put this in hobbies component ------------------- */
#hobbies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;  */

    width: 100%;
}

#hobbies > * {
    margin: 0px 50px;
}

#hobbies-left-wrap{
    width: 60%;

}

#hobbies-right-wrap{
    width: 40%;

}

#hobbies-left-wrap, #hobbies-right-wrap{
    display: flex;
    height: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#hobbies-right-wrap{
    height: 50%
}

#hobbies-right-centerer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#hobbies-left-inner h2, .hobby-details h3{
    font-family: Inter var,sans-serif;;
    color: #747fe0;    
    /* text-align: center; */
}

#hobbies-left-inner p, .hobby-details p{
    /* text-align: center; */
    font-weight: normal;
    font-size: clamp(12px, .85vw, .85vw);
}

#hobbies-left-inner h2{
    font-size: clamp(3vw, 5vw, 6vw);
    font-weight: 800;

    line-height: 1.25;

    margin: 0;
}

#hobbies-left-inner p{
    font-weight: normal;
    font-size: clamp(17px, 1vw, 1vw);
    font-family: "Open Sans";
}

.hobby-details p{
    font-family: JetBrains Mono,monospace;
}

.hobby-details h3{
    font-size: clamp(.75vw, 2vw, 2vw);
    font-weight: 800;
}

#hobbies-right-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* height: 100%; */
    width: 100%;

}

#hobby1, #hobby2, #hobby3{
    display: none;
    opacity: 0;
}

.hobby-item {
    width: 40%;

    display: flex;
    align-items: center;

    background-color: black;

    border-radius: 10px;
    margin: 2.5%;

    transition: filter .25s ease-in-out, width .25s ease-in-out;
}

.hobby-item:hover{
    cursor: pointer;

    filter: grayscale(.5);

    /* border: .5px solid rgba(50,50,93,.15); */
}

.hobby-item img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 810px){
    #hobbies{
        flex-direction: column;
    }

    .hobby-item{
        /* width: 10% !important; */
    }

    #hobbies > * {
        margin: 0px;
        height: auto;
    }

    #hobbies-left-wrap, #hobbies-right-wrap{
        width: 100%;
    }

    #hobbies-left-wrap, #hobbies-right-wrap{
        /* height: 50%; */
    }

    #hobbies-left-inner, #hobbies-right-inner{
        box-sizing: border-box;
        padding: 0px 75px;
    }
}

@media screen and (max-width: 550px){
    .hobby-item{
        /* width: 25% !important; */
    }
}

/* 
.hobby-details p{
    font-weight: normal;
    font-size: clamp(12px, .85vw, .85vw);
} */