:host{
    width: 100%;
}

#projects-content-wrap{
    font-family: Inter var,sans-serif;

    /* height: 100%; */
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

#projects-content{
    width:100%;
    display:flex;
    flex-direction: column; 
    align-items: center;
}

#projects-inner-wrap{
    width:70%;
    /* max-width: 1500px; */
    /* height:100%; */

    padding: 20px 50px;

    display:flex;
    flex-direction: column; 
    align-items: center;

    /* background: #dbdddf; */
}

.proj-content-item{
    padding: 25px 0px;
    margin: 10px 0px;
}

#proj-list-outer-wrap, #proj-list-literal{
    width: 100%;
}

#proj-prev-inner img{
    background-color: rgba(0,0,0,0);
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}

#proj-list-literal{
    text-align: center !important;
    width: 100%;
    margin: 0;
    padding: 0;
}

.proj-list-wrap{
    list-style: none;
    display:inline-block; 
}

.proj-list-wrap:hover{
    cursor: pointer;
}

#proj-list-outer-wrap{
    display:flex;
    flex-direction: column; 
    align-items: center; 
}


.proj-list-item{
    padding:20px;
    margin: 10px 15px;
    /* float:left; */
}
.proj-list-item img{
    max-width:100px;
    border-radius: 9999px;
}