<app-nav-bar context = "projects"></app-nav-bar>
<section class="proj-outter-wrap">
     <app-project-list></app-project-list>

    <div id="projects-outter">
        <div id="projects-inner">
            <ul>
                <ng-container *ngFor="let proj of getProjs()">
                    <li>
                        <picture>
                            <img (click)="displayProj(proj.index)" id="{{'proj' + proj.index}}" src="{{proj.img}}">
                        </picture>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</section>