<div id="projects-content-wrap">
    <div id="projects-inner-wrap">
        <app-nav-bar context = "projects"></app-nav-bar>
        <div id="projects-content">
            <ul id="projects-list">
                <li>
                    <div class = "project-item">
                        <div class= "project-synopsis">
                            <div class = "project-pic">
                                <img src="assets/placeholder.png">
                            </div>
                            <div class = "project-peek">
                                <div class="proj-peek-desc">
                                    <h3>Placeholder Project</h3>
                                    <p>2018 - JS, Python</p>
                                </div>

                            </div>
                        </div>


                        <div class = "project-details">
                            <div class="project-det-title">
                                <h3>Tech: Different languages and softwares go here</h3>
                            </div>
                            <div class="project-det-words">
                                <p>
                                    <strong>What:</strong>
                                    <br>
                                    This should be hidden. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae turpis non mi rhoncus vulputate eget et orci. Curabitur faucibus sapien id euismod pellentesque. Quisque pretium euismod dictum. Aenean elementum pellentesque elit, sed lacinia nulla convallis sit amet. Vivamus condimentum lectus vel rhoncus dictum. Praesent semper ipsum vel placerat luctus. Morbi ut vehicula velit. Vivamus placerat elit non tortor mollis vulputate. Nullam vel congue mi. Nulla augue nisi, commodo vel ante eu, venenatis ultricies enim.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
