#projects-content-wrap{
    font-family: Inter var,sans-serif;

    /* height: 100%; */
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

#projects-inner-wrap{
    width:70%;
    /* max-width: 1500px; */
    /* height:100%; */

    padding: 20px 50px;

    display:flex;
    flex-direction: column; 
    align-items: center;

    /* background: #dbdddf; */
}

.project-synopsis{
    position: relative;
}

#project-pic{
    width: fit-content;
}

.project-pic img{
    margin-left: 10%;
}

.project-peek{
    width: 90%;
    height: 75px;
    background-color: cornflowerblue;
    background-image: url(/assets/bg-pattern.png);
    position: absolute;
    top: 20%;
    text-align: right;
    border-radius: 5px;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.proj-peek-desc{
    margin-right: .5em;
    text-align: right;
}


/* .project-synopsis::before{
    content: ' ';
    width: 90%;
    height: 75px;
    position: absolute;
    background-color: #E7AAAA;
    left: 0;
    right: 0;
    margin: 0 0;
    top: 0;
    -webkit-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
} */

#projects-list{
    list-style: none;
}

.project-pic img{
    background-color: rgba(0,0,0,0);
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}