<app-nav-bar context = "about"></app-nav-bar>
<div id="about-content">
    <div class="about-content-item" id="intro">
        <div id="intro-header-wrap" class="intro-content">
            <h2>Hey, I'm Kareem.</h2>
            <h2>A <span id="self-title" style="background-color: #e07479;border-radius: 25px;padding: 0px 15px;display: inline-block;color: white;">full stack developer</span> with a full stack of skills!</h2>
        </div>
        <div id="intro-depth-wrap" class="intro-content">
            <div id="intro-text">
                <p>I'm a frontend (and sometimes backend) developer that's been programming since 2015. I've found myself in a range of settings; from teaching, to 3d modeling and programming for games, all the way to building full stack web applications. No matter what the situation is, I live for the product building process. To me, software development is like a puzzle game; the fun of it all is finding creative solutions to real problems people are dealing with on the daily.</p>
                <p>To be a bit more formal, you should take a look at my <a id="resumeLink" href="assets/resume.pdf">resume</a></p>
                <p>I love the intricacies that come with programming and hope that, with the social competence I've built over my time as a tutor, teaching assistant, and instructor, I can go on to share the fun of it all with those around me.</p>
                <p>I also like making art, so maybe take a peek at that in the extras page! 👀</p> 
            </div>
            <div id="intro-pic">
                <picture id="intro-pic-inner">
                    <img id="me" src="assets/me.webp" alt="Dr. Kareem">
                </picture>
            </div>
        </div>
    </div>
    <div id="about-content-divider"></div>
    <div class="about-content-item" id="stats">
        <div id="about-stats-inner">
            <div id="time-wrap">
                <h2>
                    <span *ngIf = 'totalTime !== "0 secs" || totalTime !== null; else elseBlock'>
                        {{totalTime}}
                    </span>
                </h2>
                <ng-template #elseBlock>
                    <span class = "minified">
                        {{totalTime}}
                        {{totalTime === null ? 'Data Currently Unavailable' : 'Nothing!'}}
                    </span>
                </ng-template>

                <p *ngIf = 'totalTime != "0 secs" || totalTime !== null; else elseMsgBlock'>spent over the last 7 days, coding at the speed of light!</p>
                <ng-template #elseMsgBlock>
                    <p>
                        {{totalTime}}
                        {{totalTime === null ? 'An error must have occured when retrieving my stats :(' : 'I've done nothing over the past week! Must be on vacay...!'}}
                    </p>
                </ng-template>
            </div>

            <!-- must get the objs that filled the statBarStyles going backwards, as we pushed into stack sequentially intitially -->
            <div id="stats-data-bars" *ngIf = 'totalTime != "0 secs"'>
                <ng-container *ngFor = "let lang of topLangs; let i = index;">
                    <div #codingStats class="stats-bar" [ngStyle]="statBarStyles[iterAmt - 1 - i]" [@fadeIn]="{value: false, params: {index: i, statWidth: statBarStyles[iterAmt - 1 - i]['width'], statBackground: statBarStyles[iterAmt - 1 - i]['background']}}">
                        <p>{{topLangs[i]["lang"]}}</p>
                        <p>{{timeCheck(topLangs[i]["hrs"], topLangs[i]["mins"])}}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div id="best-day-msg-wrap" *ngIf = 'totalTime != "0 secs"'>
            <h2>My most productive day in the past 7 days was <span style="background-color: #e0a674;color:white; padding: 1px">{{bestDay}}</span>. {{dayComments[bestDay]}}</h2>
        </div>
    </div>
</div>