#about-content-wrap{
    font-family: Inter var,sans-serif;

    /* height: 100%; */
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

#about-header{
    font-family: Inter var,sans-serif;

    width:100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding:10px 0px 20px 0px;
    margin: 50px 0px;
}

#header-logo-wrap, #header-nav-wrap{
    display:flex;
    justify-content: center;
    align-items: center;
}
/* 
#header-logo-wrap{
    padding: 0px 100px 0px 0px;
}
#header-nav-wrap{
    padding: 0px 0px 0px 100px;
} */

#header-nav-wrap ul{
    list-style-type: none;

    display: flex;
    flex-direction: row;
}

#resumeLink{
    background: none !important;
    border-radius: 0px !important;
    display: inline-block !important;
    padding:0 !important;

}

a{
    text-decoration: none;
    color:rgb(58,103,178);
    padding:4px 10px;
    border-radius: 1em;
    background: #d6e2fa;

    display:flex;
    justify-content: center;
    align-items: center;

    /* transition: color .25s linear; */
}

a:hover{
    color:#d6e2fa;
    background: rgb(58,103,178);
}

#header-logo-wrap h1{
    font-size: 1.75em !important;
}

#header-logo-wrap h1 a{
    border-radius: 10px;
}

#header-nav-wrap ul li{
    /* padding: 4px 10px; */
    margin: 0px 5px;
    font-size: 0.8em;
    font-weight: 800;

    display:flex;
    justify-content: center;
    align-items: center;
}
/* 
#header-nav-wrap ul li a{
    text-decoration: none;
    color:#525f7f;
} */

#about-inner-wrap{
    width:70%;
    /* max-width: 1500px; */
    /* height:100%; */

    padding: 20px 50px;

    display:flex;
    flex-direction: column; 
    align-items: center;

    /* background: #dbdddf; */
}

.intro-content{
    margin:20px 0px;
}

#intro h2{
    margin: 0;
    font-family: Inter var,sans-serif;;
    font-size: 4.7em;
    font-weight: 800;
    line-height: 1.5;
    color: #747fe0;
    /* font-weight: lighter; */
}

#about-content{
    max-width: 1100px;
}

.about-content-item{
    /* padding:30px 60px; */
    margin: 0px 0px 75px 0px;
    /* border-radius: 25px;
    background: #fff;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1); */
}

.about-content-item#intro p{
    /* line-height: 1.25em; */
    /* font-size: 1.5em; */
    font-size: 20px;
    line-height: 1.;
    font-weight: 100;
    font-family: "Open Sans";
    color: #525f7f;

    margin: 0px 0px 25px 0px;
    /* width: 80%; */
}

.about-content-item#stats{
    font-size: 3.2em;
    line-height: 1.4;
    font-weight: 800;

    margin:100px 0px 25px 0px;

    display: flex;
    flex-direction: column;
}

#about-stats-inner{
    display: flex;
    flex-direction: row;
}

.about-content-item#stats h2{
    font-size: .8em;
    line-height: 1.4;
    font-weight: 800;
}

.about-content-item#stats ul{
    font-size: .6em;
    font-weight: 600;
    list-style-type: none;
}

#intro-depth-wrap{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

#intro-pic-inner{
    width: 100%;
}

#intro-pic{
    max-width: 300px;
    position: relative;
}

#intro-pic::before, #intro-pic::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* transition: var(--transition); */
}

/* #intro-pic::before {
    top: 0px;
    left: 0px;
    background-color: #4954bd;
    mix-blend-mode: screen;
} */

#intro-pic::after {
    border: 2px solid black;
    top: 20px;
    left: 20px;
    z-index: -1;
}

/* #intro-pic::after {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    content: '';
    z-index: -1;
} */

#me{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    z-index: 1;
}

#time-wrap h2{
    font-size: 1.25em !important;
    margin:0 !important;
    text-transform: uppercase;

    color: #e7d184;
    text-align: center;
}

#time-wrap p{
    font-size: .3em !important;
    font-weight: 100 !important;

    font-family: "Open Sans";

    color: #35feff;

    text-align: center;
}

#time-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding:50px 25px;

    width:25%;
    min-width: 300px;
    max-width:600px;

    background: #5a5d7a;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);

    border-radius: 5px;
}

#stats-data-bars{
    width:75%;

    display: flex;
    flex-direction: column;
}

.stats-bar{
    height: 25%;
    width:0%;

    min-width: 270px;

    border-radius: 0px 25px 25px 0px;

    background:#747fe0;

    margin: 15px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    transition: width 1s ease-out, background 1s ease-out;
}

.stats-bar p {
    font-size: 20px;
    line-height: 1.;
    font-weight: 100;
    font-family: "Open Sans";
    color: white;

    margin: 0;
    padding: 0px 25px;
}

.stats-bar#top-stat{
    /* background-color: #8f9afc!important; */
}

.stats-bar#mid-stat{
    background-color: #747fe0 !important;
    /* width: 75% !important; */
}

.stats-bar#low-stat{
    /* background-color: #48519b !important; */
    /* width:25% !important; */
}

#best-day-msg-wrap{
    text-align: center;
    font-family: Maven Pro;
    font-weight: 100;
    font-size: .75em;
}

#about-stats-header{
    background: #F43F3F;
    color: white;
    border-radius: 10px;
    margin: 0px 0px 25px 0px;

    max-width:400px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}

#about-stats-header h2{
    font-size: .8em !important;
    margin: 0;
    padding: 5px 10px;
}
