<app-nav-bar context = "about"></app-nav-bar>
<div id="about-content">
    <div class="about-content-item" id="intro">
        <div id="intro-header-wrap" class="intro-content">
            <h2>Hey, I'm Kareem.</h2>
            <h2>A <span style="background-color:#e07479;color:white">full stack developer</span> with a full stack of skills!</h2>
        </div>
        <div id="intro-depth-wrap" class="intro-content">
            <div id="intro-text">
                <p>I've been programming since 2014, finding myself in a range of settings; from 3d modeling and programming for games to building full stack web applications. I aim to go further than is expected, providing not just with my technical ability, but my understanding in experience and design as well. I make it my best effort to better myself in the things I am not acquainted with and work hard when set with a goal.</p>
                <p>To be a bit more formal, you should take a look at my <a id="resumeLink" href="assets/resume.pdf">resume</a></p>
                <p>I've been programming since 2014, finding myself in a range of settings; from 3d modeling and programming for games to building full stack web applications.</p>
            </div>
            <div id="intro-pic">
                <picture id="intro-pic-inner">
                    <img id="me" src="assets/me.png" alt="Dr. Kareem">
                </picture>
            </div>
        </div>
    </div>
    <div id="about-content-divider"></div>
    <div class="about-content-item" id="stats">
        <div id="about-stats-inner">
            <div id="time-wrap">
                <h2><span style="">{{totalTime}}</span></h2>
                <p>spent for the last 7 days, coding at the speed of light!</p>
            </div>

            <!-- must get the objs that filled the statBarStyles going backwards, as we pushed into stack sequentially intitially -->
            <div id="stats-data-bars">
                <div #codingStats class="stats-bar">
                    <p>Programming Language</p>
                    <p>13 hrs and 10 mins</p>
                </div>
                <ng-container *ngFor = "let lang of topLangs; let i = index;">
                    <div #codingStats class="stats-bar" [ngStyle]="statBarStyles[topLangLength - 1 - i]" [@fadeIn]="{value: false, params: {index: i, statWidth: statBarStyles[topLangLength - 1 - i]['width'], statBackground: statBarStyles[topLangLength - 1 - i]['background']}}">
                        <p>{{topLangs[i]["lang"]}}</p>
                        <p>{{timeCheck(topLangs[i]["hrs"], topLangs[i]["mins"])}}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div id="best-day-msg-wrap">
        <h2>My most productive day in the past 7 days was <span style="background-color: #e0a674;color:white; padding: 1px">{{bestDay}}</span>. {{dayComments[bestDay]}}</h2>
    </div>
</div>