.art-bio-wrap{
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;

    /* background-image: linear-gradient(to top, white, rgba(0,0,0,0), white); */
    background-color: rgba(255,255,255,.8);

    display: none;
    opacity: 0;
    z-index: 2;

    transition: opacity .25s ease-in-out;
}

.art-bio-detail-wrap{
    /* width: 50vw; */
    height: 90vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-bio-detail-wrap img{
    background: black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;

    border-radius: 10px;
}

.bio-bottom-lip-wrap{
    text-align: center;
    border-radius: 0px 00px 10px 10px;
    padding: 5px;
    width: 55%;

    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.25);

}

.bio-bottom-lip-wrap > *{
    margin: 5px 0px !important;
}

.bio-bottom-lip-wrap h2{
    color: #747fe0;
    font-family: Inter var,sans-serif !important;
    margin: 0;

    line-height: 1;
    font-weight: 800;
    font-size: clamp(24px, 2.5vw, 2.5vw);

    transition: font-size .25s ease-in-out;
}

.bio-bottom-lip-wrap p{
    font-family: JetBrains Mono,monospace;
    color: #636979;
    margin: 0;


    white-space: pre-wrap;
    font-size: clamp(12px, .85vw, .85vw);
}

.art-img-exit-wrap{
    display: flex;
    width: 85%;
    /* height: 85%; */
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 10px;
}

.art-exit-wrap{
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 99999px;
    padding: 5px;
    display: flex;
    transition: background .25s ease-in-out;
}

.art-img-close{
    width: 25px !important;
    height: 25px !important;
    background: rgba(0,0,0,0) !important;
    /* filter: invert(1); */
    transition: filter .25s ease-in-out;
}

.art-exit-wrap:hover{
    background: black;
    cursor: pointer;
}

.art-exit-wrap:hover > .art-img-close{
    cursor: pointer;
    filter: invert(1);
}

@media screen and (max-width: 1400px){
    .art-bio-detail-wrap{
        /* width: auto;
        height: auto;
        min-width: auto; */
    }
}

@media screen and (max-width: 800px){
    .art-bio-detail-wrap{
        width: auto;
        height: auto;
        min-width: auto;
    }

    .bio-bottom-lip-wrap[_ngcontent-neo-portfolio-c54] {
        width: 75%;
    }
}

@media screen and (max-width: 840px){
    .art-img-exit-wrap{
        align-items: stretch;
    }
}

@media screen and (max-width: 350px){
    .bio-bottom-lip-wrap h2{
        font-size: 6vw;
    }
}
