<div class="art-bio-wrap" id="{{'art-bio-' + artObj.index}}">
    <div class="art-bio-detail-wrap">
        <div class="art-img-exit-wrap">
            <img src="{{artObj.img}}" id="{{'art' + artObj.index}}" class="art-bio-img">
            <div class="art-exit-wrap" (click) = "closeProj()">
                <img class="art-img-close" src="assets/close.webp">
            </div>
        </div>
        <div class="bio-bottom-lip-wrap">
            <h2 class="art-bio-header">{{artObj.title}}</h2>
            <p class="art-bio-desc">{{artObj.description}}</p>
        </div>
    </div>
</div>