<div id="about-header">
    <div id="header-logo-wrap">
        <a id="img-splash-link" routerLink="/" routerLinkActive="active"><img id="logo-literal" src="assets/logo.svg"/></a>
        <h1><a id="text-splash-link" class="link-button" routerLink="/" routerLinkActive="active">kareemshehab.com</a></h1>
    </div>
    <nav id="header-nav-wrap">
        <ul>
            <li class="link-button" *ngFor = "let navOption of navOptionsContext">
                <a routerLink = "/{{navOption}}" routerLinkActive="active">{{navOption | uppercase}}</a>
            </li>
        </ul>
    </nav>
</div>