<div id="splash-content-wrap">
    <div id="nav-wrap">
        <!-- make fake div to just make aligning right easier for other div... -->
        <div class="nav" id="left">
            <!-- stuff both img tags in one picture tag if u want the accent to cover more of the screen -->
            <picture id="left-wrap">
                <img id="bg-accent" src="../../assets/blobs/subblobs/blob3.svg">
            </picture>
            <picture>
                <img id="follower" src="../../assets/splash_av.gif">
            </picture>
        </div>
        <div class="nav" id="right">
            <div id="right-nav-wrap">
                <div id="splash-intro-text">
                    <h2>What's up! I'm Kareem</h2>
                    <p>I'm a software engineer, currently residing over in Atlanta - not Hotlanta - where I focus on building up and publishing projects in various settings</p>
                </div>
                <nav>
                    <ul>
                        <li class="link-button" id="splash-button"><a routerLink = "/about" routerLinkActive = "active">ABOUT</a></li>
                        <li class="link-button" id="splash-button"><a routerLink = "/projects" routerLinkActive="active">PROJECTS</a></li>
                        <li class="link-button" id="splash-button"><a routerLink = "/contact" routerLinkActive = "active">CONTACT</a></li>
                        <li class="link-button" id="splash-button"><a routerLink= "/extras" routerLinkActive="active">EXTRAS</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <app-splash-three-section></app-splash-three-section>
</div>
