<div id="splash-content-wrap">
    <div id="nav-wrap">
        <!-- make fake div to just make aligning right easier for other div... -->
        <div class="nav" id="left"></div>
        <div class="nav" id="right">
            <nav>
                <ul>
                    <li><a routerLink = "/about" routerLinkActive = "active">ABOUT</a></li>
                    <li><a routerLink = "/projects" routerLinkActive="active">PROJECTS</a></li>
                    <li><a routerLink = "/contact" routerLinkActive = "active">CONTACT</a></li>
                    <li><a routerLink= "/extras" routerLinkActive="active">EXTRAS</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <app-splash-three-section></app-splash-three-section>
</div>
