<div id="endeavours-list-wrap">
    <!-- <p>{{getEndeavours()}}</p> -->
    <div id="endeavours-index-wrap">
        <p>{{currIdx+1}}</p>
        <div id="index-divider"></div>
        <p>{{getEndeavours().length}}</p>
    </div>
    <ng-container *ngFor = "let endeavour of getEndeavours()">
        <!-- <p>{{getEndeavours().length}}</p>
        <p>hi</p> -->

        <app-endeavour-item [endeavourLen] = "getEndeavours().length" [endObj] = "endeavour" [displayEnd] = "currIdx == endeavour.index" (nav)="handleNavClick($event)"></app-endeavour-item>
    </ng-container>
</div>