<div id="end-1" class ="endeavours-preview-wrap" *ngIf="displayEnd">

    <div class ="endeavours-img-prev-wrap">
        <div class="left-nav-button">
            <img [ngClass] = "{'endeavour-nav-active': hasLeftEnd(), 'endeavour-nav-inactive': !hasLeftEnd()}" (click)="hasLeftEnd() ? handleLeftNavClick() : null" src="assets/nav-left.webp">
        </div>

        <!-- decide whether to show video or img format of prev... use field thats part of the endeavour items... -->
        <video *ngIf="endObj.mediaType === 'video'" class="end-img" muted autoplay playsinline loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="{{endObj.image}}" type="video/webm">
        </video>
        <img *ngIf="endObj.mediaType === 'image/gif'" class="end-img" src="{{endObj.image}}">

        <div class="right-nav-button">
            <img [ngClass] = "{'endeavour-nav-active': hasRightEnd(), 'endeavour-nav-inactive': !hasRightEnd()}" (click)="hasRightEnd() ? handleRightNavClick() : null" src="assets/nav-right.webp">
        </div>
    </div>

    <div class ="endeavours-desc-prev-wrap">
        <h2>{{endObj.title}}</h2>
        <p class ="endeavour-desc">
            {{endObj.prevDesc}}
        </p>
    </div>

    <div class ="more-info-butt-wrap" id="more-info-1" (click)="displayEndeavour(endObj.index)">
        <div class ="more-info-butt">
            <p>Read more</p>
        </div>
    </div>

    <ng-container *ngIf="canReadMore">
        <div class="readmore-fake-wrap">
            <div class="readmore-wrap">
                <div class="readmore-details-wrap">
                    <h2 class="endeavour-title">{{endObj.title}}</h2>
                    <p class="endeavour-desc">{{endObj.readMore}}</p>
                </div>
    
                <div class="end-exit-wrap" (click)="closeCurrEndeavour()">
                    <img src="assets/close.webp">
                </div>
            </div>
        </div>
    </ng-container>
</div>
