:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-nav-button, .right-nav-button, .endeavours-preview-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-nav-button, .right-nav-button{
    width: 10%;
}

.left-nav-button img:hover, .right-nav-button img:hover{
    cursor: pointer;
    filter: none;
}

.endeavours-preview-wrap{
    width: 80%;
}

.endeavours-img-prev-wrap{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.endeavours-img-prev-wrap .end-img{
    width: 400px;
    height: 400px;
}

.endeavours-desc-prev-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endeavours-desc-prev-wrap h2{
    font-size: 28px;
    font-family: Inter var,sans-serif;;
    color: #747fe0;    
    font-weight: 800;

    margin: 0;
}

.endeavours-desc-prev-wrap, .more-info-butt{
    color: #636979;  
    transition: color .25s ease-in-out;
}

.endeavours-desc-prev-wrap p, .more-info-butt p{
    font-family: JetBrains Mono,monospace;
    font-weight: normal;
    font-size: 14px;

    text-align: center;
}

.more-info-butt p{
    margin: 0;
}

.left-nav-button img, .right-nav-button img{
    width: 55px;
    height: 55px;

    filter: invert(45%) sepia(80%) saturate(11%) hue-rotate(147deg) brightness(95%) contrast(100%);
    transition: filter .25s ease-in-out;
}

.more-info-butt-wrap, .more-info-butt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-butt{
    background-color: #D0E2FF;
    border-radius: 20px;
    padding: 15px;
    /* color: #7d7f81; */
    /* margin: 15px 0px; */
    /* font-size: 12px; */
    /* font-family: JetBrains Mono,monospace; */
    border: none;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.1);
    transition: background-color .25s ease-in-out;
}

.more-info-butt:hover{
    cursor: pointer;
    background-color: #747fe0 !important;
    color: #D0E2FF !important;
}


#end-1-more{
    display: none;
    opacity: 0;

    transition: opacity .25s ease-in-out;
}

.readmore-fake-wrap{
    height: 100vh;
    width: 100vw;
    

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

.readmore-wrap{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 3;

    width: 75vw;
    height: 75vh;

    max-height: 700px;
    max-width: 800px;

    border-radius: 10px;

    box-shadow: 0 2px 8px 0 rgba(50,50,93,.1);
    background: white;
}

.end-exit-wrap{
    position: absolute;
    top: 10px;
    right: 10px;
}

.end-exit-wrap img{
    width: 25px;
    height: 25px;

    transition: opacity .25s ease-in-out;
}

.end-exit-wrap img:hover{
    cursor: pointer;
    opacity: .5;
}

.readmore-details-wrap{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    padding: 50px;
}

.readmore-details-wrap h2{
    text-align: center;
    font-size: clamp(1vw, 2.5vw, 2.5vw);

    font-family: Inter var,sans-serif;;
    color: #747fe0;    
    font-weight: 800;

    margin: 0;
}


.readmore-details-wrap p{
    text-align: center;
    font-family: JetBrains Mono,monospace;
    font-weight: normal;
    font-size: clamp(12px, .85vw, .85vw);

    text-align: center;
}

@media screen and (max-width: 800px){
    .endeavours-img-prev-wrap .end-img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 750px){
    .endeavours-preview-wrap > * {
        margin: 10px 0px;
    }

    .endeavours-img-prev-wrap{
        flex-wrap: wrap;
        justify-content:center;
    }
    
    .left-nav-button, .right-nav-button{
        order: 2;
        width: auto;

        margin: 0px 5px;
    }
    
    .endeavours-img-prev-wrap .end-img{
        width: 100%;
        height: auto;
    }
}