<app-nav-bar context = "contact"></app-nav-bar>
<div id="contact-content-wrap">
    <section id="contact-content">
        <div id="contact-inner-content-wrap">
            <h2>Get in Touch</h2>
            <p>Don't let it end here; feel free to contact me with any inquiries. Help with a math problem, a need for a programmer, someone to chat with; anything you need, don't be afraid to reach out!</p>
        </div>
    </section>
    <section id="nav-links">
        <ul>
            <li>
                <a href="https://github.com/Musilix">
                    <img class="contact-img" src="assets/contact-imgs/git.png">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kareemshehab-a95162154/">
                    <img class="contact-img" src="assets/contact-imgs/linked.png">
                </a>
            </li>
            <li>
                <a href="https://stackoverflow.com/users/7471743/musilix">
                    <img class="contact-img" src="assets/contact-imgs/stack.png">
                </a>
            </li>
            <li>
                <!-- <a href="mailto:kshehab1@outlook.com"> -->
                <a href="mailto:kshehab1@outlook.com">
                    <img class="contact-img" src="assets/contact-imgs/out.png">
                </a>
                <!-- </a> -->
            </li>
        </ul>
    </section>
</div>
<div id="bg-design-wrap">
    <aside id="bg-blobs">
        <img class="blob-img" id="blob1" src="assets/blobs/subblobs/blob15.svg">
        <img class="blob-img" id="blob2" src="assets/blobs/subblobs/blob10.svg">
        <img class="blob-img" id="blob3" src="assets/blobs/subblobs/blob3.svg">
        <img class="blob-img" id="blob4" src="assets/blobs/subblobs/blob11.svg">
        <img class="blob-img" id="blob5" src="assets/blobs/subblobs/blob8.svg"> 
        <img class="blob-img" id="blob6" src="assets/blobs/subblobs/blob16.svg"> 
    </aside>
</div>