<app-nav-bar context = "contact"></app-nav-bar>
<div id="contact-content-wrap">
    <div id="left-contact-wrap">
        <div id="left-contact-content">
            <h2>
                GET
            </h2>
            <h2>
                IN
            </h2>
            <h2>
                TOUCH
            </h2>
        </div>
    </div>
    <div id="right-contact-wrap">
        <div id="right-contact-content">
            <div class="contact-section">
                <h1>Connect</h1>
                <section id="nav-links">
                    <ul>
                        <li>
                            <a href="https://github.com/Musilix">
                                <img class="contact-img" src="assets/contact-imgs/git.webp">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/kareemshehab-a95162154/">
                                <img class="contact-img" src="assets/contact-imgs/linked.webp">
                            </a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/7471743/musilix">
                                <img class="contact-img" src="assets/contact-imgs/stack.webp">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:kshehab1@outlook.com">
                                <img class="contact-img" src="assets/contact-imgs/out.webp">
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="contact-section">
                <h1>Message me directly!</h1>
                <form id="message-wrap" [formGroup]="emailForm" (ngSubmit) = "onEmail()">
                    <input type="text" id="email" name="email" formControlName="email" placeholder="Your email" required>
                    <input type="text" id="topic" name="topic" formControlName="topic" placeholder="Topic" required>
                    <textarea id="message" name="message" formControlName="message" form="message-wrap" placeholder="Whatever you'd like to say"required>Whatever you'd like to say</textarea>
                    <!-- <input type="text" id="message" name="message" placeholder="Whatever you'd like to say"> -->
                    <input type="submit" id="submit" value="send" [disabled]="!emailForm.valid">
                </form>
                
                <div id = "success-msg" *ngIf="messageSent === true">
                    <p>Nice! I got your email. I'll respond soon!</p>
                </div>

                <div id = "fail-msg" *ngIf="messageSent === false">
                    <p>Aw man, something went wrong for some reason. :( Try directly emailing me.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <section id="contact-content">
        <div id="contact-inner-content-wrap">
            <h2>Get in Touch</h2>
            <p>Don't let it end here; feel free to contact me with any inquiries. Help with a math problem, a need for a programmer, someone to chat with; anything you need, don't be afraid to reach out!</p>
        </div>
    </section>
    <section id="nav-links">
        <ul>
            <li>
                <a href="https://github.com/Musilix">
                    <img class="contact-img" src="assets/contact-imgs/git.png">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kareemshehab-a95162154/">
                    <img class="contact-img" src="assets/contact-imgs/linked.png">
                </a>
            </li>
            <li>
                <a href="https://stackoverflow.com/users/7471743/musilix">
                    <img class="contact-img" src="assets/contact-imgs/stack.png">
                </a>
            </li>
            <li>
                <a href="mailto:kshehab1@outlook.com">
                    <img class="contact-img" src="assets/contact-imgs/out.png">
                </a>
            </li>
        </ul>
    </section> -->
</div>
<!-- <div id="bg-design-wrap">
    <aside id="bg-blobs">
        <img class="blob-img" id="blob1" src="assets/blobs/subblobs/blob15.svg">
        <img class="blob-img" id="blob2" src="assets/blobs/subblobs/blob10.svg">
        <img class="blob-img" id="blob3" src="assets/blobs/subblobs/blob3.svg">
        <img class="blob-img" id="blob4" src="assets/blobs/subblobs/blob11.svg">
        <img class="blob-img" id="blob5" src="assets/blobs/subblobs/blob8.svg"> 
        <img class="blob-img" id="blob6" src="assets/blobs/subblobs/blob16.svg"> 
    </aside>
</div> -->