<app-nav-bar context = "contact"></app-nav-bar>
<div id="contact-content-wrap">
    <section id="contact-content">
        <div id="contact-inner-content-wrap">
            <h2>Get in Touch</h2>
            <p>Don't let it end here; feel free to contact me with any inquiries. Help with a math problem, a need for a programmer, someone to chat with; anything you need, don't be afraid to reach out!</p>
        </div>
    </section>
</div>
<div id="bg-design-wrap">
    <aside id="bg-blobs">
        <div id="blob1-wrap">
            <img class="blob-img" id="blob1" src="../../assets/blobs/subblobs/blob1.svg">
        </div>
        <!-- <img class="blob-img" id="blob2" src="../../assets/blobs/blob2.svg">
        <img class="blob-img" id="blob3" src="../../assets/blobs/blob3.svg">
        <img class="blob-img" id="blob4" src="../../assets/blobs/blob4.svg">
        <img class="blob-img" id="blob5" src="../../assets/blobs/blob5.svg">  -->
    </aside>
</div>