:host{
    width: 100%;
}

#contact-content-wrap{
    width: 100%;
    height: 100%;
}

#contact-content{
    height: 100%;
}

#contact-content h2{
    text-align: center;
    text-transform: uppercase;
}

#contact-content p{
    text-align: center;
}

#contact-inner-content-wrap{

}