:host{
    box-sizing: border-box;
    width: 100%;
    height:100%;

    overflow: hidden;
}

#contact-content-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}

.contact-section{
    width: 100%;
    margin: 12.5px 0px;
}

#right-contact-content{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: end;
}

#right-contact-content h1{
    color: #7d7f81 !important;
    font-size: .8em;
    font-weight: 800;
    margin: 0px 0px 7.5px 0px;
    font-family: Inter var,sans-serif;
    text-transform: uppercase;
}

#right-contact-content a{
    text-decoration: none;
    font-family: JetBrains Mono,monospace;
}

#right-contact-content p{
    margin: 0px 0px 10px 0px;
}


#left-contact-wrap{
    width: 60%;
}

#right-contact-wrap{
    width: 40%;
    /* align-items: flex-start; */
}

#left-contact-wrap, #right-contact-wrap{
    height:100%;
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Inter var,sans-serif;
    z-index: 1;
}

#left-contact-wrap h2{
    font-size: 148px;
    font-weight: 800;
    margin: 0;
    color: #747fe0;
    margin: -80px 0px 0px 0px;
    opacity: .8;
    text-align: end;
}

/* #left-contact-wrap::before{
    content: '';
    background-image: url(../../assets/blobs/subblobs/blob17.svg);
    position: absolute;
    left: -25%;
    top: 0;
    transform: scale(2);
    width: 100%;
    height: 100%;
    z-index: -1;
} */

#message-wrap{
    display: flex;
    flex-direction: column;
    /* width: 65%; */
    width: 50%;
    justify-content: center;
}

#message-wrap input:focus, #message-wrap textarea:focus{
    box-shadow: 0px 0px 3.5px #3a67b2;
    outline: none;
}

#message-wrap input, #message-wrap textarea{
    width: 100%;

    background-color: #D0E2FF;
    border-radius: 20px;
    padding: 15px;
    color: #7d7f81;

    margin: 15px 0px;

    font-size: 12px;
    font-family: JetBrains Mono,monospace;

    border: none;
    box-shadow: 0 2px 8px 0 rgba(50,50,93,.1);
}

#message{
    min-height: 200px;
}

#submit{
    text-align: center;
    width: 50% !important;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#submit:hover{
    cursor: pointer;
    background-color: #747fe0 !important;
    color: #D0E2FF !important;
}

#contact-content-wrap{
    overflow: hidden;

    position: fixed;
    left: 0;
    top: 0;
}


#contact-content-wrap section{
    z-index:2;
}

#contact-content, #nav-links{
    width: 80%;
    max-width: 700px;
}

#contact-content h2{
    margin:0;

    text-align: center;
    text-transform: uppercase;

    font-family: Inter var,sans-serif;
    font-size: clamp(40px, 5vw, 60px);
    font-weight: 800;
    line-height: 1.1;
    color: #747fe0;

    z-index: 2;
}

#contact-content p{
    text-align: center;

    margin: 25px 0px;

    line-height: 1.35;
    font-weight: 100;
    font-size: 18px;
    font-family: Open Sans;
    color: #525f7f;

    z-index: 2;
}

#contact-inner-content-wrap{

}

#nav-links{
    margin: 15px 0px 0px 0px;
}

#nav-links ul{
    list-style-type: none;

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */

    padding: 0px;
    margin: 0px;
}

#nav-links  ul li{
    margin-right: 15px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.contact-img{
    width: 30px;
    height: 30px;
    filter: invert(55%) sepia(16%) saturate(3311%) hue-rotate(205deg) brightness(91%) contrast(93%);
    transition: filter .25s ease-in-out, width .25s ease-in-out, height .25s ease-in-out;
}

.contact-img:hover{
    /* width: 32px;
    height: 32px; */
    filter: invert(38%) sepia(9%) saturate(4936%) hue-rotate(183deg) brightness(93%) contrast(83%);
}

#bg-design-wrap{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#bg-blobs{
    position: inherit;
    width: 100%;
    height: 100%;
}

#bg-blobs > *{
    width: 110vw;
    height: 110vh;
    position: absolute;

    opacity: .85;
}

#blob1{
    left: -45vw;
    bottom: -70vh;
    transform: rotateZ(-25deg) scale(1.5) scaleX(1.15);
}

#blob2{
    left: -45vw;
    top: -55vh;
    transform: rotateZ(270deg) scale(1.75);
}

#blob3{
    right: -45vw;
    top: -55vh;
    transform: rotateZ(220deg) scale(1.5);
}

#blob4{
    top: -60vh;
    transform: rotateZ(330deg) scale(1.5);
}

#blob5{
    right: -40vw;
    bottom: -70vh;
    transform: rotateZ(-41deg) scale(1.75);
}

#blob6{
    bottom: -85vh;
    left: -5vh;
    transform: rotateZ(362deg) rotateY(180deg) scale(1.5);    
}

#blob1-wrap{
    bottom:0;
    right:5%;
}
  
#path1 {
    fill: #2196F3;
}

#success-msg, #fail-msg {
    text-align: center;
    margin: 0;
    border-radius: 15px;
    font-weight: bold;
    font-family: monospace;
}

#success-msg p, #fail-msg p {
    margin: 0;
    padding: 15px 10px;
}

#success-msg{
    background: rgba(46, 204, 113,.25);
    border: #27ae60 1px solid;
    color: #27ae60;
}

#fail-msg {
    background: rgba(231, 76, 60, .25);
    border: #c0392b 1px solid;
    color: #c0392b;
}

@media screen and (max-width: 1250px){
    #nav-links ul{
    }
}

@media screen and (max-width: 450px){
    #contact-content{
        width: 90%;
    }
} 

@media screen and (max-width: 950px){
    :host{
        overflow: inherit;
    }

    #contact-content-wrap{
        height: auto;
        flex-direction: column;
        overflow: inherit;
        position: static;
    }

    #left-contact-wrap{
        margin: 50px 0px 10px 0px;
    }

    #left-contact-wrap, #right-contact-wrap{
        width: 100%;
        height: 50%;
    }

    #right-contact-wrap, #right-contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #message-wrap{
        width: 90%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section ul{
        justify-content: center;
    }

    #message-wrap input{

    }

    #nav-lnks ul{
        justify-content: center;
    }
}

@media screen and (max-width: 575px){
    #left-contact-wrap h2{
        font-size: 110px !important;
        margin: -65px 0px 0px 0px !important;
    }
}

@media screen and (max-width: 485px){
    #left-contact-wrap h2{
        font-size: 86px !important;
        margin: -35px 0px 0px 0px !important;
    }
}

@media screen and (max-width: 1400px){
    #message-wrap{
        width: 60%;
    }
}

@media screen and (max-width: 1150px){
    #left-contact-wrap h2{
        font-size: 124px;
        margin: -75px 0px 0px 0px;
    }

    #message-wrap{
        width: 70%;
    }
}